<mat-toolbar>
  <span>Painel Administrador</span>
</mat-toolbar>
<div class="container">
  <div class="cabecalho">
    <h1>Bem vindo, {{usName}}!</h1>
  </div>
  <div class="dashboard">

    <div class="content-left">
      <app-card [title]="'Meus sites'" [subtitle]="'Acesse seus sites rapidamente'" [content]="'Um site é uma área de projeto em que você pode compartilhar e discutir o conteúdo com outros membros do site.
            Incluímos um site de amostra para você. Use-o para explorar os recursos do Alfresco Content Services.'">
      </app-card>
      <app-card [title]="'Minhas tarefas'" [subtitle]="'Revise as tarefas atribuídas a você'"
        [content]="'Podem aparecer diferentes tipos de tarefa nessa lista de tarefas e você precisa lidar com cada um. Isso pode envolver revisar um documento ou simplesmente aceitar um convite para um site.'">
      </app-card>

    </div>
    <div class="content-right">
      <app-card [title]="'Minhas atividades'" [subtitle]="'Acompanhe o que está acontecendo em seus sites'"
        [content]="'As atividades nessa lista permitem que você acompanhe as alterações nos sites aos quais você pertence. Você verá coisas como atualizações de conteúdo e quem curtiu. Você também pode ver quem está ingressando e saindo de seus sites.'">
      </app-card>
      <app-card [title]="'Meus documentos'" [subtitle]="'Controle seu próprio conteúdo'"
        [content]="'Esse dashlet lista todo o conteúdo que é importante para você, independente de em qual site ele se encontre. Use os filtros para localizar facilmente o que procura.'">
      </app-card>

    </div>
  </div>
</div>
