.container {
  display: flex;
  flex-direction: column;
  margin: 10px;
}
.container h1 {
  margin-left: 20px;
}
.dashboard {
  display: flex;
  flex-direction: row;
  padding: 10px;
}
.content-left {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 40%;
}
.content-right {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 60%;
}
@media screen and (max-width: 425px) {
  .dashboard {
    display: block;
    flex-direction: row;
    padding: 10px;
  }
  .content-left {
    display: block;
    flex-direction: column;
    width: 100%;
  }
  .content-right {
    display: block;
    flex-direction: column;
    width: 100%;
  }
}
@media only screen and (min-width: 460px) and (max-width: 768px) {
  .dashboard {
    display: flex;
    flex-direction: row;
    padding: 10px;
  }
  .content-left {
    display: flex;
    flex-direction: column;
    width: 46%;
    padding: 10px;
  }
  .content-right {
    display: flex;
    flex-direction: column;
    width: 46%;
    padding: 10px;
  }
}
