<adf-sidenav-layout [sidenavMin]="70" [sidenavMax]="200" [stepOver]="780" [hideSidenav]="false"
  [expandedSidenav]="false">

  <adf-sidenav-layout-header>
    <ng-template let-toggleMenu="toggleMenu">
      <adf-layout-header id="adf-header" [title]="'C2A Solutions GED'" color="warn">
        <a class="toggle-btn" (click)="toggleMenu()">
          <mat-icon>menu</mat-icon>
        </a>

        <adf-sidebar-action-menu class="adf_sidebar_actmenu">
          <mat-icon>account_circle</mat-icon>
          <div adf-sidebar-menu-expand-icon>
            <mat-icon class="adf_sidebar_actmenu_icon">account_circle</mat-icon>
            <mat-label class="adf_sidebar_actmenu_nome_usuario">{{usName}}</mat-label>
          </div>
          <div adf-sidebar-menu-options>
            <button mat-menu-item>
              <mat-icon>account_circle</mat-icon>
              <span>Meu perfil</span>
            </button>
            <button mat-menu-item>
              <mat-icon>help</mat-icon>
              <span>Ajuda</span>
            </button>
            <mat-divider></mat-divider>
            <button mat-menu-item>
              <mat-icon>key</mat-icon>
              <span>Alterar senha</span>
            </button>
            <button mat-menu-item>
              <mat-icon>logout</mat-icon>
              <span>Sair</span>
            </button>
          </div>
        </adf-sidebar-action-menu>

        <button class="btn-lang" mat-icon-button [matMenuTriggerFor]="langMenu">
          <mat-icon>language</mat-icon>
        </button>
        <mat-menu #langMenu="matMenu">
          <adf-language-menu></adf-language-menu>
        </mat-menu>
      </adf-layout-header>
    </ng-template>
  </adf-sidenav-layout-header>

  <adf-sidenav-layout-navigation>
    <ng-template let-isMenuMinimized="isMenuMinimized">

      <mat-nav-list class="adf-sidenav-linklist">
        <a mat-list-item class="adf-sidenav-link" routerLink="/ecm/home">
          <mat-icon matListIcon class="sidenav-menu-icon">home</mat-icon>
          <div class="sidenav-menu-label" *ngIf="!isMenuMinimized()">Home</div>
        </a>
        <a mat-list-item class="adf-sidenav-link" routerLink="/ecm/documents">
          <mat-icon matListIcon class="sidenav-menu-icon">folder_open</mat-icon>
          <div class="sidenav-menu-label" *ngIf="!isMenuMinimized()">Documentos</div>
        </a>
        <a mat-list-item class="adf-sidenav-link" routerLink="/ecm/sites">
          <mat-icon matListIcon class="sidenav-menu-icon">public</mat-icon>
          <div class="sidenav-menu-label" *ngIf="!isMenuMinimized()">Sites</div>
        </a>
        <a mat-list-item class="adf-sidenav-link" routerLink="/ecm/tasks">
          <mat-icon matListIcon class="sidenav-menu-icon">task</mat-icon>
          <div class="sidenav-menu-label" *ngIf="!isMenuMinimized()">Tarefas</div>
        </a>
        <a mat-list-item class="adf-sidenav-link" routerLink="/ecm/repositories">
          <mat-icon matListIcon class="sidenav-menu-icon">storage</mat-icon>
          <div class="sidenav-menu-label" *ngIf="!isMenuMinimized()">Repositorios</div>
        </a>
        <a mat-list-item class="adf-sidenav-link" routerLink="/ecm/tools">
          <mat-icon matListIcon class="sidenav-menu-icon">build</mat-icon>
          <div class="sidenav-menu-label" *ngIf="!isMenuMinimized()">Ferramentas</div>
        </a>
        <a mat-list-item adf-logout class="adf-sidenav-link">
          <mat-icon matListIcon class="sidenav-menu-icon">exit_to_app</mat-icon>
          <div class="sidenav-menu-label" *ngIf="!isMenuMinimized()">Logout</div>
        </a>
      </mat-nav-list>

    </ng-template>
  </adf-sidenav-layout-navigation>

  <adf-sidenav-layout-content>
    <ng-template>
      <router-outlet></router-outlet>
    </ng-template>
  </adf-sidenav-layout-content>
</adf-sidenav-layout>
