adf-sidenav-layout {
  height: 100%;
}
.toggle-btn {
  position: absolute;
  height: 100px;
}
.btn-lang {
  position: absolute;
  right: 20px;
}
.adf_sidebar_actmenu {
  position: absolute;
  right: 90px;
  text-transform: uppercase;
}

.adf_sidebar_actmenu_icon {
  display: none;
}
@media only screen and (max-width: 425px) {
  .adf_sidebar_actmenu {
    right: 50px;
  }
  .adf_sidebar_actmenu_nome_usuario {
    display: none;
  }
  .adf_sidebar_actmenu_icon {
    display: block;
    color: #fff;
  }
}
